body {
    background: black;
}

#content {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-gap: 10px;
    margin: 0 auto;

    transition: background 1s;
}

.tile {
    background: #222;
    transition: background 0.15s;
}

:not(.locked)>.tile:hover {
    background: #555;
    cursor: pointer;
}

.correct {
    background: greenyellow;
}

.incorrect {
    background: crimson;
}

.flash {
    background: blue;
}

:not(.locked)>.tile.clicked:hover {
    background: white;
}